@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-Facebook::before {
  content: "\e900";
  display: inline-block;
  color: white;
}

._icon-Heart:before {
  content: "\e901";
  display: inline-block;
}

._icon-Instagram:before {
  content: "\e902";
  display: inline-block;
  color: white;
}

._icon-Linked-In:before {
  content: "\e903";
  display: inline-block;
  color: white;
}

._icon-prev-btn:before {
  content: "\e904";
  display: inline-block;
  position: relative;
}

._icon-Right:before {
  content: "\e905";
  display: inline-block;
  position: relative;
}

._icon-telegram:before {
  content: "\e906";
  display: inline-block;
  color: white;
}

._icon-Twitter:before {
  content: "\e907";
  display: inline-block;
}

._icon-Chat:before {
  content: "\e90b";
  display: inline-block;
  padding-right: 8px;
}

._icon-Layouts:before {
  content: "\e90a";
  display: inline-block;
  padding-right: 8px;
}

._icon-like:before {
  content: "\e909";
  display: inline-block;
  padding-right: 8px;
}

._icon-Star:before {
  content: "\e908";
  padding-right: 8px;
  display: inline-block;
}

._icon-youtube:before {
  content: "\ea9d";
  display: inline-block;
  color: white;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "@import url(https://fonts.googleapis.com/css?family=Lato:,regular,700,900&display=swap )";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "@import url(https://fonts.googleapis.com/css?family=Lato:,regular,700,900&display=swap )";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.button {
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
  display: inline-block;
  padding: 16px 40px;
  position: relative;
  background: -o-linear-gradient(34.05deg, #ff3f3a 0%, #f75e05 100%);
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  white-space: nowrap;
}

.button span {
  position: relative;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  background: -o-linear-gradient(34.05deg, #e43832 100%, #ff3b34 0%);
  background: linear-gradient(55.95deg, #e43832 100%, #ff3b34 0%);
}

.button:hover::before {
  opacity: 1;
}

/* =================================== */

.title {
  font-weight: 700;
  line-height: 150%;
}

.title h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

/* ========================= */

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px;
  z-index: 20;
  margin-bottom: 120px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgb(136, 6, 6);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 0;
  bottom: -2px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__link:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.user {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  background: url("../img/Profile.svg") left no-repeat;
  top: 0;
  left: 0;
  gap: 20px;
  padding-left: 28px;
}

.user__in {
  position: relative;
}

.user__in::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -40%;
  width: 13px;
  height: 1px;
  background: rgb(136, 6, 6);
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.user__in:hover:after {
  width: 100%;
  top: 85%;
  right: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.user__register {
  position: relative;
}

.user__register::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -28%;
  width: 13px;
  height: 1px;
  background: rgb(136, 6, 6);
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.user__register:hover::before {
  width: 100%;
  top: 85%;
  left: 0%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
}

.footer {
  background: #1e212c;
}

.bottom {
  color: #ffffff;
  line-height: 160%;
}

.bottom__block {
  margin-top: 80px;
  margin-bottom: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 279px 79px 115px 165px 286px;
  grid-template-columns: 279px 79px 115px 165px 286px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.bottom__logo-info img {
  color: #ffffff;
  margin-bottom: 24px;
}

.bottom__logo-text {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 38px;
  opacity: 0.6;
}

.bottom__logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.bottom__logo-icon a {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bottom__logo-icon a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.bottom__body a {
  opacity: 0.6;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.bottom__body a:hover {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 1;
}

.bottom__body a:not(:last-child) {
  margin-bottom: 8px;
}

.bottom__body p {
  opacity: 0.6;
}

.bottom__body h3 {
  margin-bottom: 12px;
}

.bottom__body-input {
  margin: 12px 0;
  padding: 9px 12px;
  width: 268px;
  position: relative;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.bottom__body--froms a {
  position: absolute;
  -webkit-transform: translate(-28px, 18px);
      -ms-transform: translate(-28px, 18px);
          transform: translate(-28px, 18px);
}

.body-contacts:hover {
  opacity: 1;
}

.blokc-bottom {
  background: hsla(0deg, 0%, 100%, 0.05);
  padding: 20px 0;
}

.blokc-bottom__info {
  position: relative;
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blokc-bottom__info span {
  color: #FF3F3A;
  padding: 0 4.41px;
}

.page__section {
  background: -o-linear-gradient(34.05deg, hsla(2deg, 100%, 61%, 0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
  background: linear-gradient(55.95deg, hsla(2deg, 100%, 61%, 0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
  z-index: 0;
}

.page__section__container {
  margin-top: 150px;
}

.button-color {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  background: transparent;
  grid-area: button;
  max-width: 203px;
  max-height: 52px;
  cursor: pointer;
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
  white-space: nowrap;
  z-index: 1;
}

.button-color:hover {
  color: #fff;
}

.hello {
  padding-top: 150px;
  padding-bottom: 55px;
}

.hello__body {
  margin-bottom: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 158px 0.67fr 0.7fr;
  grid-template-columns: 158px 0.67fr 0.7fr;
  -ms-grid-rows: 84px 24px 249px;
  grid-template-rows: 84px 249px;
      grid-template-areas: "icon icon imege" "title title imege" "button button-color imege";
  row-gap: 24px;
}

.hello__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: -ms-grid;
  display: grid;
  grid-area: icon;
  -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1e212c;
  position: relative;
  padding-left: 68px;
  cursor: pointer;
  z-index: 1;
}

.hello__icon::before {
  content: "";
  background: #ff3f3a url("../img/Polygon.svg") 55% center no-repeat;
  width: 52px;
  height: 52px;
  position: absolute;
  border-radius: 50%;
  top: -80%;
  left: 0;
  z-index: 1;
}

.hello__icon::after {
  content: "";
  background: #e9827f;
  width: 52px;
  height: 52px;
  position: absolute;
  border-radius: 50%;
  top: -80%;
  left: 0;
  z-index: -1;
  -webkit-animation: play-circle 2s infinite ease;
          animation: play-circle 2s infinite ease;
}

.hello__icon:hover::after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes play-circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes play-circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hello__title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  height: 249px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  padding: 0px 40px 0px 0px;
}

.hello__button-color {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  background: transparent;
  grid-area: button;
  max-width: 148px;
  max-height: 52px;
  cursor: pointer;
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
  white-space: nowrap;
  z-index: 1;
}

.hello__button-color:hover {
  color: #fff;
}

.hello__button {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: button-color;
  max-width: 201px;
  max-height: 52px;
  margin: 0px 0px 0px 24px;
  cursor: pointer;
  display: inline-block;
  z-index: 1;
  white-space: nowrap;
}

.hello__imege {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  padding-right: 30px;
  grid-area: imege;
}

.hello__imege img {
  max-width: 117%;
}

.hello__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[7];
  grid-template-columns: repeat(7, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  text-align: center;
}

.hello__items span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff3f3a;
}

.hello__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.hello__numb {
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;
}

.decor-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.decor-main__item {
  position: absolute;
}

.decor-main__item--1 {
  background: url("../img/main/decor/01.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: 12%;
  left: 4.5%;
}

.decor-main__item--2 {
  background: url("../img/main/decor/01.svg") 0 0 no-repeat;
  width: 284px;
  height: 284px;
  bottom: -9.2%;
  left: -5.5%;
}

.decor-main__item--3 {
  background: url("../img/main/decor/02.svg") 0 0 no-repeat;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40%;
}

.decor-main__item--4 {
  background: url("../img/main/decor/03.svg") 0 0 no-repeat;
  width: 61px;
  height: 61px;
  bottom: 24%;
  left: 38%;
}

.decor-main__item--5 {
  background: url("../img/main/decor/04.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: -1.5%;
  right: 4%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.decor-main__item--6 {
  overflow: hidden;
  background: url("../img/main/decor/05.svg") 0 0 no-repeat;
  width: 187px;
  height: 137px;
  bottom: 18%;
  right: -1.5%;
}

.aside {
  margin-top: 180px;
  margin-bottom: 180px;
  position: relative;
}

.aside__section {
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #1e212c;
}

.title h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-top: 8px;
}

.aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}

.aside__img {
  max-width: 705px;
}

.aside__img img {
  width: 100%;
}

.aside__titles {
  margin-bottom: 40px;
}

.aside__list {
  max-height: 294px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 48px;
}

.aside__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.aside__list li::before {
  content: "";
  background: url("../img/check.svg") 0px 5px no-repeat;
  width: 16px;
  height: 16px;
  min-height: 25px;
  min-width: 20px;
}

.decor-aside {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.decor-aside__item {
  position: absolute;
}

.decor-aside__item--1 {
  background: url("../img/dots-1.svg") 0 0 no-repeat;
  width: 181.18px;
  height: 132.74px;
  top: 11.5%;
  left: -5.7%;
  -webkit-transform: rotate(52.46deg);
      -ms-transform: rotate(52.46deg);
          transform: rotate(52.46deg);
}

.decor-aside__item--2 {
  background: url("../img/circles.svg") 0 0 no-repeat;
  width: 287px;
  height: 287px;
  right: -8.5%;
  bottom: 0;
  opacity: 1;
}

.cards {
  margin-bottom: 180px;
}

.cards__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.job {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}

.job__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr;
  grid-template-columns: 0.3fr 1fr;
  border: 1px solid #e5e8ed;
  -webkit-box-shadow: 0px 0px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 0px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.job__img {
  width: 214px;
  overflow: hidden;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.job__img img {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.job__img img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.job__text {
  padding: 32px;
}

.job__work {
  display: inline-block;
  margin-bottom: 20px;
  background: #03cea4;
  border-radius: 4px;
  padding: 1px 8px;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.job__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.job__offer {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ff4242;
}

.job__offer span {
  font-size: 18px;
  line-height: 150%;
  color: #787a80;
  padding-right: 8px;
}

.job__offer span::before {
  content: "";
  border: 1px solid #787a80;
  margin: 0 8px 0 6px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  gap: 8px;
}

.Management {
  background: #5a87fc;
}

.HR {
  background: #f89828;
}

.Design {
  background: #f52f6e;
}

.benefits {
  margin-bottom: 120px;
}

.benefits__title {
  text-align: center;
  margin-bottom: 60px;
}

.benefits__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}

.benefits__text {
  margin: auto;
  line-height: 160%;
  color: #424551;
  max-width: 495px;
}

.benefits__text h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 24px;
}

.best-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (19.2rem)[4];
  grid-template-columns: repeat(4, 19.2rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.5px;
  line-height: 1.25;
  text-align: center;
  color: #9a9ca5;
  cursor: pointer;
  margin-bottom: 60px;
}

.best-block__button span:hover {
  border-radius: 4px;
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
}

.best-block__button span {
  display: inline-block;
  padding: 10px 0;
  border: 1px solid rgba(255, 64, 58, 0);
  white-space: nowrap;
  justify-items: center;
  width: 307px;
  height: 46px;
}

.lectures {
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
}

.lectures__container {
  padding: 80px 0 80px 0;
}

.lectures__title {
  text-align: center;
  margin-bottom: 60px;
}

.lectures__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-lectures {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
  margin-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-lectures__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11.5rem 47.3rem 9.7rem;
  grid-template-columns: 11.5rem 47.3rem 9.7rem;
  background: #ffffff;
  border-radius: 4px;
  padding: 2rem 2.5rem;
  -webkit-column-gap: 2.5em;
     -moz-column-gap: 2.5em;
          column-gap: 2.5em;
}

.body-lectures__number {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #ff3f3a;
}

.body-lectures__date {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.body-lectures__date span {
  line-height: 160%;
  color: #787a80;
}

.body-lectures__time {
  display: -ms-grid;
  display: grid;
}

.body-lectures__info {
  display: -ms-grid;
  display: grid;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.body-lectures__info span {
  line-height: 160%;
  color: #787a80;
}

.certficate__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.9fr;
  grid-template-columns: 0.5fr 0.9fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 8.2rem;
     -moz-column-gap: 8.2rem;
          column-gap: 8.2rem;
}

.certficate__text {
  padding: 120px 0;
}

.certficate__text p {
  margin-bottom: 32px;
}

.certficate__title {
  line-height: 160%;
  color: #424551;
  margin-bottom: 48px;
}

.certficate__title h2 {
  font-size: 40px;
  line-height: 130%;
}

.certficate__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.no-webp .certficate__photo{
  background: url("../img/certficate/sertificate.png") 0 0 no-repeat; }

.certficate__photo {
  position: relative;
  z-index: 5;
  top: 0;
  right: 0;
  width: 705px;
  height: 500px;
  -webkit-transform: translate(0, 24%);
      -ms-transform: translate(0, 24%);
          transform: translate(0, 24%);
  -webkit-box-shadow: 0px 80px 80px rgba(154, 156, 165, 0.16), 0px 30px 24px rgba(154, 156, 165, 0.1), 0px 12px 10px rgba(154, 156, 165, 0.08), 0px 4px 4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px rgba(154, 156, 165, 0.16), 0px 30px 24px rgba(154, 156, 165, 0.1), 0px 12px 10px rgba(154, 156, 165, 0.08), 0px 4px 4px rgba(30, 33, 44, 0.05);
}

.team {
  margin-bottom: 120px;
  padding-top: 157px;
  background: #f4f5f7;
}

.team__block {
  margin-bottom: 180px;
}

.team__text {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__twists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  z-index: 1;
  text-align: center;
}

.team__twists a:nth-child(1) {
  width: 48px;
  height: 48px;
  padding-top: 18px;
  border-radius: 50%;
}

.team__twists a:nth-child(1):hover {
  color: white;
  background: #ff3f3a;
}

.team__twists a:nth-child(2) {
  width: 48px;
  height: 48px;
  padding-top: 18px;
  border-radius: 50%;
}

.team__twists a:nth-child(2):hover {
  color: white;
  background: #ff3f3a;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.card-item {
  width: 285px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card-item__wrapper-image {
  position: relative;
  background-color: #ffcf2d;
  padding: 20px 20px 0 20px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.card-item__wrapper-image:before {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.768225)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1e212c));
  background: -o-linear-gradient(top, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
}

.card-item__image {
  position: relative;
  padding-bottom: 120%;
  z-index: 1;
}

.card-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background: #ffcf2d;
  border-radius: 4px;
}

.card-item__social {
  position: absolute;
  z-index: 5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  opacity: 1;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.card-item__social:hover {
  color: white;
}

.card-item__info {
  padding: 15px;
  text-align: center;
}

.card-item__name {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card-item__profession {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #787a80;
}

.card-item:hover {
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.1), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.1), 0px 4px 4px -4px rgba(30, 33, 44, 0.1);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.1), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.1), 0px 4px 4px -4px rgba(30, 33, 44, 0.1);
}

.card-item:hover .card-item__social {
  opacity: 1;
}

.card-item:hover .card-item__name {
  letter-spacing: 2px;
}

.card-item:hover .card-item__wrapper-image {
  opacity: 1;
  -webkit-box-shadow: 0px 10px 80px -20px rgba(154, 156, 165, 0.5), 0px 20px 24px -10px rgba(154, 156, 165, 0.3), 0px 8px 5px -6px rgba(154, 156, 165, 0.3), 0px 4px 4px -4px rgba(30, 33, 44, 0.5);
          box-shadow: 0px 10px 80px -20px rgba(154, 156, 165, 0.5), 0px 20px 24px -10px rgba(154, 156, 165, 0.3), 0px 8px 5px -6px rgba(154, 156, 165, 0.3), 0px 4px 4px -4px rgba(30, 33, 44, 0.5);
}

.card-item:hover .card-item__wrapper-image:before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.solial-card-item a {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.solial-card-item a:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 1;
}

.solial-card-item a img {
  max-width: 100%;
}

.response__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
  row-gap: 60px;
  margin-bottom: 100px;
}

.response__title {
  text-align: center;
}

.response__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.response__block-twists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.response__block-twists a {
  width: 48px;
  height: 48px;
  padding-top: 18px;
  border-radius: 50%;
}

.response__block-twists a:hover {
  color: white;
  background: #ff3f3a;
}

.response__block-blockqute {
  background: #ffffff;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  padding: 64px 105px;
}

.response__block-blockqute blockquote {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 24px;
  padding-left: 58px;
}

.response__block-blockqute blockquote::before {
  content: "";
  position: absolute;
  background: url("../img/braces.svg") 0 0 no-repeat;
  top: 0;
  left: 0;
  width: 28px;
  height: 20px;
}

.response__block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.response__block-intro {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.response__block-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}

.response__block-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.response__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.response__slider a {
  display: inline-block;
  width: 30px;
  height: 0px;
  border: 3px solid #424551;
  opacity: 0.5;
  background: #424551;
}

.response__slider a:hover {
  opacity: 1;
}

.posts {
  margin-bottom: 180px;
}

.posts__titles-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 60px;
}

.cards-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.cards-posts__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
  -ms-grid-columns: 24.375rem;
  grid-template-columns: 24.375rem;
  row-gap: 1rem;
}

.cards-posts__img {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cards-posts__img img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cards-posts__img img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

.cards-posts__img::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/posts_cards/product.svg") 0 0 no-repeat;
  top: 12px;
  left: 12px;
  width: 85px;
  height: 23px;
  z-index: 1;
}

.cards-posts__img-02::after {
  content: "";
  background: url("../img/posts_cards/vodeo.svg") 0 0 no-repeat;
}

.cards-posts__img-03::after {
  content: "";
  background: url("../img/posts_cards/article.svg") 0 0 no-repeat;
}

.text-cards__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
  gap: 12px;
  margin-bottom: 8px;
}

.text-cards__subtitle span {
  position: relative;
}

.text-cards__subtitle span img {
  margin-right: 5px;
}

.text-cards__subtitle span:nth-child(1)::before {
  content: "";
  background: url("../img/posts_cards/Calendar.svg") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  color: #000;
  top: 0;
  left: -15px;
  z-index: 1;
}

.text-cards__spoon {
  position: relative;
}

.text-cards__spoon::after {
  content: "";
  border: 1px solid #787a80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 12px;
}

.text-cards__spoon::before {
  content: "";
  border: 1px solid #787a80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 12px;
}

.text-cards__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 8px;
}

.text-cards__text {
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 1rem;
}

.text-cards__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
}

.text-cards__button a:nth-child(2) {
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
  margin-left: 8px;
  color: #ff3f3a;
  width: 18px;
}

.subscride {
  background: -o-linear-gradient(34.05deg, hsla(2deg, 100%, 61%, 0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
  background: linear-gradient(55.95deg, hsla(2deg, 100%, 61%, 0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
  z-index: 1;
  position: relative;
}

.subscride__body {
  padding: 120px 0 180px 0;
}

.subscride__title {
  text-align: center;
  margin-bottom: 60px;
}

.subscride__forms-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscride__forms-block input {
  margin-right: 24px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  width: 422px;
  padding: 0.8rem 1rem;
  outline: none;
}

.subscride__fon {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.subscride__fon img:nth-child(1) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.subscride__fon img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
}

.webp .certficate__photo{ background: url(../img/certficate/sertificate.webp) 0 0 no-repeat; }