.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
}
body {
	background-color: #333;
}

.page__cars {
	position: relative;
	width: 100%;
	height: 600px;
	background: rgb(110, 96, 96);
}
.cars {
}
.cars__fon {
	position: absolute;
	width: 100000px;
	height: 10px;
	top: 50%;
	border: 20px dashed rgb(230, 223, 223);
	animation: fon 300s infinite linear;
}

@keyframes fon {
	0% {
		transform: translate(0%);
	}
	100% {
		transform: translate(-100%);
	}
}

.cars__car {
	position: relative;
	background: url("../img/car1.svg") 0 0 no-repeat;
	width: 100%;
	height: 100%;
	bottom: -150px;
	left: -400px;
	transform: scale(0.3);
	animation: car 2s linear normal 1 paused forwards;
	z-index: 1;
}

.cars__car::after {
	content: "";
	position: absolute;
	width: 700px;
	height: 150px;
	background: rgba(24, 23, 23, 0.778);
	left: 19.9%;
	bottom: 275px;
	border-radius: 50% 50% 10% 20%;
	animation: glass 4s linear 1 forwards 2s;
	opacity: 1;
}
@keyframes glass {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0px, 100px);
		opacity: 0;
	}
}
.cars__wheels {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.cars__weel {
	position: absolute;
	width: 200px;
	height: 200px;
	background: rgb(252, 250, 250);
	border: 35px dashed black;
	border-radius: 50%;
	animation: weel 2s infinite linear;
}

.cars__weel:nth-child(1) {
	left: 14.5%;
	top: -120px;
}

.cars__weel:nth-child(2) {
	right: 19%;
	bottom: -80px;
}

@keyframes weel {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.cars__two {
	position: absolute;
	width: 900px;
	height: 450px;
	background: rgb(128, 193, 187);
	border-radius: 50% 50% 0 0;
	top: -140%;
	animation: cars__two 10s infinite linear;
}
.cars__two::before {
	content: "ДІЧЬ ЯКАСЬ ВИШЛА";
	width: 600px;
	height: 200px;
	position: absolute;
	background: rgba(126, 122, 197, 0.64);
	text-align: center;
	font-size: 60px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 700;
	top: 50%;
	left: -100%;
	border-radius: 50%;
	padding-top: 35px;
	animation: text 4s infinite alternate linear;
}
.cars__two::after{
	content: '';
	width: 350px;
	height: 10px;
	background: #000;
	position: absolute;
	bottom: 25%;
	left: -39%;
	transform-origin: 0 0;
	z-index: -1;
}
@keyframes text {
	0% {
		background: rgba(149, 107, 107, 0.455);
		transform: translate(0,20px);
	}
	10% {
		background: rgb(148, 168, 116);
		transform: translate(0,-20px);

	}
	20% {
		background: rgb(209, 122, 112);
		transform: translate(0,20px);

	}
	30% {
		background: rgb(69, 100, 211);
		transform: translate(0,-20px);

	}
	40% {
		background: rgb(223, 80, 80);
		transform: translate(0,20px);

	}
	50% {
		background: rgb(127, 56, 82);
		transform: translate(0,-20px);

	}
	60% {
		background: rgb(172, 207, 74);
		transform: translate(0,-20px);

	}
	70% {		background: rgb(106, 112, 230);
		transform: translate(0,20px);
	}		
	80% {		background: rgb(230, 151, 106);
		transform: translate(0,20px);
	}	
	90% {		background: rgb(230, 106, 156);
		transform: translate(0,20px);
	}	

	100% {
		background: rgb(188, 110, 222);
		transform: translate(0,-20px);

	}
}

.cars__weel--two:nth-child(1) {
	left: 9.5%;
	bottom: 0;
}
.cars__weel--two:nth-child(2) {
	right: 5%;
	top: -100px;
}

@keyframes cars__two {
	0% {
		transform: translate(-500%);
	}
	100% {
		transform: translate(900%);
	}
}
