
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
font-family: "lato";
src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
font-display: swap;
font-weight: 900;
font-style: normal;
}
@font-face {
	font-family: "lato";
	src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	}
	@font-face {
		font-family: "lato";
		src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
		font-display: swap;
		font-weight: 700;
		font-style: normal;
		}


		@font-face {
			font-family: "Larsseit";
			src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
			font-display: swap;
			font-weight: 700;
			font-style: normal;
			}
			@font-face {
				font-family: "Larsseit";
				src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
				font-display: swap;
				font-weight: 400;
				font-style: normal;
				}
				@font-face {
					font-family: "Larsseit";
					src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
					font-display: swap;
					font-weight: 500;
					font-style: normal;
					}



.footer {
	font-family: "lato";
}
.content {
	font-family: "Roboto"
}
.title {
	font-family: "Larsseit";
}


text{
	color: black;
}
.text p{
	color: blueviolet;

}

.link {
	color: blue;
}
.wrap {
	color: brown;
}
#ProgrammingKnowledge{
	color: blue;
}
