@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
	/* Значення за замовченням */
	font-family: "Lato";
	color: #424551;
	/* font-size: 16px; */
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ============ __CONTAINER ================ */
[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0px 15px;
}
/* ============ button ================ */

.button {
	border-radius: 4px;
	letter-spacing: 0.5px;
	font-weight: 700;
	line-height: 1.25;
	color: #fff;
	display: inline-block;
	padding: 16px 40px;
	position: relative;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}
.button span {
	position: relative;
	z-index: 2;
}
.button::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease 0s;
	opacity: 0;
	border-radius: 4px;
	background: linear-gradient(55.95deg, #ca3530 0%, #c94d05 100%);
	transition: all 0.3s ease 0s;
}
.button:hover::before {
	opacity: 1;
}
.button:hover::before {
	transform: scale(1.05);
	opacity: 1;
}
.button:active {
	transform: scale(0.95);
}
.button--border {
	background: transparent;
	position: relative;
	border: 1px solid #ff3f3a;
	color: #ff3f3a;
	padding: 15px 40px;
	transition: all 0.3s ease 0s;
	border-radius: 4px;
}

.button--border:hover {
	color: #fff;
	border: 1px solid #ff3f3a;
	background-color: #ff3f3a;
}

/* Н1 заголовки */
.text-titile {
	font-weight: 700;
	line-height: 150%;
}
.text-titile h2 {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}

/* ============ HEADER ================ */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0px;
	z-index: 50;
}
.header__container {
	display: flex;
	align-items: center;
	gap: 60px;
}
.header__logo {
}
.header__menu {
	flex-grow: 1;
}

.menu {
}
.menu-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}
.menu-item {
}
.menu__link {
	font-weight: 700;
	line-height: 160%;
}

.header__button {
	flex-shrink: 0;
}
.header__user {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 36px;
	position: relative;
	font-weight: 700;
}
.header__user a:nth-child(2) {
	position: relative;
}

.user-in {
	transform: translate(-15px, 0);
}
.user-in::after {
	content: "";
	position: absolute;
	background: #000;
	width: 2px;
	height: 13px;
	bottom: 0;
	left: -20%;
	border-radius: 40%;
	transform: rotate(20deg);
	transition: all 0.3s linear 0s;
	opacity: 0;
}
.user-log::before {
	content: "";
	position: absolute;
	background: #000;
	width: 2px;
	height: 13px;
	bottom: 0;
	right: 61%;
	border-radius: 40%;
	transform: rotate(20deg);

	transition: all 0.3s ease 0s;
	opacity: 0;
}

.user-in:hover::after {
	transform: rotate(-90deg) translate(-35px, 40px);
	height: 60px;
	background: #ff3f3a;
	opacity: 1;
}
.user-in:hover {
	color: #ff3f3a;
}
.user-log:hover::before {
	transform: rotate(-90deg) translate(-28px, -30px);
	height: 45px;
	background: #ff3f3a;
	opacity: 1;
}
.user-log:hover {
	color: #ff3f3a;
}
.menu__link {
	position: relative;
}
.menu__link::after {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 0;
	left: 0;
	height: 2px;
	background: #ff3f3a;
	transition: all 0.3s linear 0s;
}
.menu__link:hover::after {
	width: 100%;
}

.user-log::after {
	content: "";
	position: absolute;
	background: url("../img/icons/user.svg") 0px 0px no-repeat;
	width: 100%;
	line-height: 1.25;
	transform: translate(-10px);
	top: 0;
	left: -16px;
	width: 17px;
	height: 18px;
	transition: all 0.4s ease 0s;
}
.user-log:hover::after {
	transform: translate(-7px) scale(1.2) rotate(360deg);
	color: #ff3f3a;
}
/* ============================ */

/* SECTION-1 */

.main {
}
.page__main {
	margin-bottom: 180px;
}
.main-block {
	position: relative;
	padding: 200px 0px 80px 0px;
	background: linear-gradient(
		55.95deg,
		hsla(2, 100%, 61%, 0.2) 0%,
		hsla(22, 96%, 49%, 0.2) 100%
	);
}
.main-block__container {
	position: relative;
	z-index: 2;
}
.main-block__body {
	margin-bottom: 190px;
}

.body-main {
	display: flex;
	flex-wrap: wrap;
}
.body-main__content {
	padding-right: 40px;
	align-items: center;
	flex: 0 1 50%;
	max-width: 100%;
}
.body-main__play:not(:last-child) {
	margin-bottom: 40px;
}
.body-main__play {
	font-weight: 700;
	font-size: 14px;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px;
	align-items: center;
	z-index: 1;
	position: relative;
}

.body-main__play::before {
	content: "";
	background: #ff3f3a url("../img/icons/play.svg") center no-repeat;
	width: 52px;
	height: 52px;
	flex: 0 0 52px;
	border-radius: 50%;
	transition: background-color 0.3s ease 0s;
	z-index: 1;
}

.body-main__play::after {
	content: "";
	background: #ff3f3a;
	width: 52px;
	height: 52px;
	top: 0;
	left: 0;
	position: absolute;
	border-radius: 50%;
	opacity: 0.12;
	transform: scale(1.6);
	animation: play-circle 2s infinite ease;
}
.body-main__play:hover::after {
	animation-play-state: paused;
}
.body-main__play:hover::before {
	background-color: #dd3832;
}
@keyframes play-circle {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
.body-main__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	margin-bottom: 60px;
	letter-spacing: 1px;
	color: #1e212c;
}
.body-main__actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 24px;
}

.body-main__media {
	flex: 0 1 50%;
}
.body-main__image {
	max-width: 107.8%;
	transform: translate(7.8%, 0);
}

.advantages-main {
	display: flex;
	flex-wrap: wrap;

	gap: 20px;
	align-items: center;
	justify-content: space-between;
}
.advantages-main__item {
}

.item-advantages {
	display: flex;
	flex-wrap: wrap;

	align-items: center;
	gap: 12px;
	color: #1e212c;
}
.item-advantages__value {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}

.item-advantages__text {
	line-height: 1.5;
}

.advantages-main__circle {
	border-radius: 50%;
	height: 8px;
	background: #ff3f3a;
	flex: 0 0 8px;
}

/* =============DEKOR=============== */

.decor-main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-main__item {
	position: absolute;
}
.decor-main__item--1 {
	background: url("../img/main/decor/01.svg") 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12%;
	left: 4.5%;
}
.decor-main__item--2 {
	background: url("../img/main/decor/02.svg") 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: -9.2%;
	left: -5.5%;
}
.decor-main__item--3 {
	background: url("../img/main/decor/03.svg") 0 0 no-repeat;
	width: 88px;
	height: 47px;
	top: 45%;
	left: 40%;
}
.decor-main__item--4 {
	background: url("../img/main/decor/04.svg") 0 0 no-repeat;
	width: 61px;
	height: 61px;
	bottom: 24%;
	left: 38%;
}
.decor-main__item--5 {
	background: url("../img/main/decor/01.svg") 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: -1.5%;
	right: 4%;
	transform: rotate(135deg);
}
.decor-main__item--6 {
	background: url("../img/main/decor/05.svg") 0 0 no-repeat;
	width: 187px;
	height: 137px;
	bottom: 18%;
	right: -1.5%;
}

.who-block__container {
}
.who-content {
	flex-wrap: wrap;
	display: flex;
	gap: 135px;
	flex: 0 1 50%;
}
.who-content__media {
	flex: 0 1 50%;
}
.who-media__img {
	max-width: 100%;
}
.who-content__text {
}
.who-content__titile {
	margin-bottom: 40px;
}

.who-content__list {
	position: relative;
	margin-bottom: 48px;
	max-width: 390px;
}
.who-content__list li {
	line-height: 160%;
	color: #424551;
	display: flex;
	line-height: 1.25;
	margin-left: 16px;
}
.who-content__list li:not(:last-child) {
	margin-bottom: 12px;
}

.who-content__list ::before {
	content: "";
	position: absolute;
	background: url("../img/icons/check.svg") 0px 2px no-repeat;
	width: 16px;
	height: 16px;
	min-height: 20px;
	transform: translate(-32px);
}

.who-button:hover {
	color: white;
}
