@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Book.woff2") format("woff2"),
        url("../fonts/CircularStd-Book.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"),
        url("../fonts/CircularStd-BookItalic.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Medium.woff2") format("woff2"),
        url("../fonts/CircularStd-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2"),
        url("../fonts/CircularStd-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Black.woff2") format("woff2"),
        url("../fonts/CircularStd-Black.woff") format("woff");
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "CircularStd", sans-serif;
    font-size: 24;
    background-color: rgb(197, 224, 224);
}

.header__container {
    font-family: "CircularStd", serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 75px;
}
.header__container:hover {
    color: blue;
}
.main {
}
.title{
   font-family: "Montserrat",serif;
   font-weight: 800;
   font-size: 42px;
margin-bottom: 50px;

}
.imege__icon {
    max-width: 100%;
    margin: 0px 0px 0px 250px;

}

.top-title {
   font-family: "Times New Roman", Times, Baskerville, Georgia, cursive ;
   font-style: oblique;
   color: blue;
   padding-bottom: 15px;
}
.top-text {
   font-family: "Montserrat", serif;
   font-weight: 600;
   margin-bottom: 35px;
   text-align: right;
}
.top-text p {
   padding-bottom: 15px;
}
.imege-top {
    max-width: 100%;
    margin: 0px 0px 0px 400px;
}
.list {
   font-size: larger;
   font-weight: 500;
   text-decoration: underline;
   text-transform:uppercase;
   margin-bottom: 50px;
}
.text {
   text-shadow: 2px 2px 5px rgb(221, 147, 147);
   margin-bottom: 50px;

}
.texxt {
   font-family:"CircularStd", serif;
   font-weight: 900;
   margin-bottom: 100px;

}
#facts{
   margin-bottom: 30px;
}
.imege__truck{
   max-width: 100%;
   margin-bottom: 32px;
}
.texxt p{
   font-family: "Montserrat", serif;
   font-weight: 600;
}
.footer__container {
}

[class*="__container"] {
    max-width: 850px;
    margin: 0 auto;
}
